*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: #ffea5b;
}

.app {
  height: 300vh;
  max-height: 4000px;
  overflow: hidden;
}

.fixed-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateZ(0);
}

.sequence {
  display: block;
  height: 120vh;
  width: auto;
  position: relative;
  top: -15vh;
}

.sequence--hate {
  left: calc(50% - (120vh * 0.75) / 2);
}

.sequence--love {
  left: calc(50% - (120vh * 0.64) / 2);
}

[data-name^='sequence'] {
  visibility: hidden;
}

[data-name^='sequence'].is-active {
  visibility: visible;
}

.title {
  position: absolute;
  bottom: 79vh;
  left: 4.5vw;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10.5vmin;
  line-height: 0;
  letter-spacing: 0.03em;
  padding-bottom: 0.65ex;
  font-weight: bold;
  white-space: nowrap;
}

.link {
  position: absolute;
  bottom: calc(79vh - 10.5vmin);
  left: 4.5vw;
  font-family: 'Fira Sans', sans-serif;
  font-size: 6.5vmin;
  line-height: 0;
  font-weight: bold;
  letter-spacing: 0.03em;
  padding-bottom: 0.65ex;
  white-space: nowrap;
  color: #0000ff;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.share {
  display: flex;
  justify-content: space-between;
  width: 91vw;
  position: absolute;
  left: 4.5vw;
  bottom: 2vh;
}

.share {
  width: 80vw;
  max-width: 30vh;
  left: 10vw;
}

.share__item {
  display: block;
  cursor: pointer;
}

.share__item:hover {
  transform: scale(1.1);
}

.share__item + .share__item {
  margin-left: 10px;
}

.share__item svg {
  fill: #feea5b;
}

@media (min-width: 40vh) {
  .share--hate {
    width: 30vh;
    left: calc(50% - 120vh * 0.185);
    left: calc(50% - 120vh * 0.13);
  }

  .share--love {
    width: 30vh;
    left: calc(50% - 120vh * 0.16);
  }
}

@media (min-width: 50vh) {
  .link {
    font-size: 3.7vh;
  }
}

@media (min-width: 85vh) {
  .link {
    bottom: 79vh;
  }

  .link--hate {
    left: calc(50% + 120vh * 0.23);
  }

  .link--love {
    left: calc(50% + 120vh * 0.2);
  }

  .share {
    left: 4.5vw;
    max-width: none;
  }

  .share--hate {
    width: 32%;
  }

  .share--love {
    width: 34%;
  }

  .share__item svg {
    fill: #0000ff;
  }

  .share__tw svg {
    fill: #feea5b;
  }
}

@media (min-width: 110vh) {
  .share {
    width: 20%;
  }

  .share__tw svg {
    fill: #0000ff;
  }
}

@media (min-width: 130vh) {
  .fixed-container {
    width: 130vh;
    left: calc(50% - 130vh / 2);
  }

  .sequence {
    left: calc(130vh - (120vh * 0.85));
  }

  .title {
    left: 33px;
    font-size: 16vh;
  }

  .link {
    font-size: 6vh;
  }

  .link--hate {
    left: calc(50% + 120vh * 0.35);
  }

  .link--love {
    left: calc(50% + 120vh * 0.27);
  }

  .share {
    left: 33px;
  }
}
